# Ignore build files and user-specific files
CMakeLists.txt.user

Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/

Vocabulary/ORBvoc.txt

build/
bin/
lib/

*~
.idea/
cmake-build-debug/

install_orbslam2.txt
install_orbslam2-dev.txt

# pixi
.pixi/
channel/
output/
